<%- include('../layouts/adminHeader.ejs') %>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Order List</h2>
        <p>Lorem ipsum dolor sit amet.</p>

      </div>
      <div>
        <a href="#" class="btn btn-light rounded font-md">Export</a>
        <a href="#" class="btn btn-light rounded  font-md">Import</a>
        <a href="/admin/addproduct" class="btn btn-primary btn-sm rounded">Create new</a>
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row align-items-center">

          <form action="" method="get">

            <div style="display: flex;  align-items: center;">
              <input type="text" id="searchInput" class="form-control" placeholder="Search for products...">

            
              <div class="col-md-3 col-12 me-auto mb-md-0 mb-3" style="display: flex;">

                <label for="status" class="form-control">Select Status:</label>
                <select name="status" class="form-select" id="status">
                  <option value="" selected>All</option>
                  <option value="listed">Listed</option>
                  <option value="unlisted">Unlisted</option>
                </select>
              </div>

              <input type="submit" class="btn btn-sm font-sm rounded btn-barnd" value="Filter">

            </div>
          </form>




        </div>
      </header>

      <div class="card-body">

        <table id="products" class="table">
          <thead>
            <tr>
                <th>Order</th>
                <th>Order Date</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
          </thead>
         
          <tbody>
            <% order.forEach(function(order_data) { 
              %>
                                
            <tr>
                <td><%=order_data.orderId  %></td>
                <td>     <%= new Date(order_data.orderDate).toLocaleDateString() %></td>
                <td>     <%= new Date(order_data.deliveryDate).toLocaleDateString() %></td>
               
                <td><%= order_data.status %></td>
                <td><%= order_data.totalAmount %></td>
                <td><a href="/admin/orderDetails?orderId=<%= order_data._id %>" class="btn-small d-block">View</a></td>
            </tr>
                     <% 
                         }) %>
           
        </tbody>
            <!-- Pagination Section -->

 <nav class="mt-4" aria-label="Page navigation">
  <ul class="pagination">
    <% if (currentPage> 1) { %>
      <li class="page-item">
        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } %>

        <% for (let i=1; i <=totalPages; i++) { %>
          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>">
              <%= i %>
            </a>
          </li>
          <% } %>

            <% if (currentPage < totalPages) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <% } %>
  </ul>
</nav>


      </div>
    
    </div>
    

  </section>
 
  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const searchInput = document.getElementById("searchInput");
      const table = document.getElementById("products");
      const rows = table.getElementsByTagName("tr");

      searchInput.addEventListener("keyup", function () {
        const searchText = searchInput.value.toLowerCase();

        for (let i = 1; i < rows.length; i++) {
          const rowData = rows[i].textContent.toLowerCase();
          if (rowData.includes(searchText)) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      });
    });


    function ProductUnlist(productId) {
      Swal.fire({
        title: "Are you sure?",
        text: "Please confirm to delete this product!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          // Perform the deletion via AJAX/fetch to the server
          fetch(`/admin/deleteProduct/${productId}`, {
            method: 'GET',
            // Add other necessary headers or configurations
          }).then(response => {
            if (response.ok) {
              // Product successfully deleted
              Swal.fire({
                title: "success",
                text: "Please confirm to delete this product!",
                icon: "success",
                timer: 2000,
                timeProgressBar: true,
                showConfirmButton: false,


              })
                .then(() => {
                  // Redirect after displaying the success message
                  window.location.href = '/admin/products'; // Redirect to a suitable page
                });
            } else {
              Swal.fire("Error!", "Failed to delete product", "error");
            }
          }).catch(error => {
            Swal.fire("Error!", "Failed to delete product", "error");
          });
        }
      });
    }

  </script>


  <%- include('../layouts/adminFooter.ejs') %>