<%- include('../layouts/adminHeader.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                </div>
               
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center" >

                <form action="" method="get">

                    <div style="display: flex;  align-items: center;">
                      <input type="text" id="searchInput" class="form-control" placeholder="Search for products...">

                    
                      <div class="col-md-3 col-12 me-auto mb-md-0 mb-3" style="display: flex;">

                       
                       
                      </div>
     

                  </div>
                </form>
           



                  </div>
                </header>
            
        <div class="card-body">
                   
            <table id="coupon" class="table">
                <thead>
                    <tr>
                      <th class="align-middle" scope="col">Coupon Code</th>
                      <th class="align-middle" scope="col">Discount</th>
                      <th class="align-middle" scope="col">Created Date</th>
                      <th class="align-middle" scope="col">Expiry Date</th>
                      <th class="align-middle" scope="col">limit</th>
                      <th class="align-middle" scope="col">Minimum Cart Amount</th>
                      <th class="align-middle" scope="col">Redeemable Amount</th>
                      <th class="align-middle" scope="col">Status</th>
                      <th class="align-middle" scope="col">Action</th>



                    </tr>
                </thead>
                <tbody>
    
                    <% coupon.forEach((coupon) => { %>
                        <tr style="height: 80px;" >                    
                        <td><%= coupon.code %></td>
                        <td>
                            <%= coupon.discount %>%
                         </td>
                        <td><%= new Date(coupon.createdDate).toLocaleDateString() %></td>
                        <td><%= new Date(coupon.expiry).toLocaleDateString() %></td>
                        <td><%= coupon.limit %> </td>
                        <td ><%= coupon.minAmt %> </td>
                        <td><%= coupon.maxAmt %> </td>
                        <td>   <% if (coupon.is_listed == true) { %>
            
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">listed</span>
                            </div>
                            <% } else { %>
                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                    <span class="badge rounded-pill alert-danger">unlisted</span>
                                </div>
                        <% } %></td>
                        <td>  <a href="/admin/couponDetails?couponId=<%= coupon._id %>" class="btn btn-secondary">Details</a>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-xs">
                                  <i class="material-icons md-more_horiz"></i>
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item font-xs" href="/admin/couponEdit?couponId=<%= coupon._id %>">Edit</a>
                                  <% if (coupon.is_listed) { %>
                                    <a href="/admin/couponUnlist?couponId=<%= coupon._id.toString() %>">
                                      <p class="text-danger ms-4 font-xs">Unlist</p>
                                    </a>
                                  <% } else { %>
                                    <a href="/admin/couponUnlist?couponId=<%= coupon._id.toString() %>">
                                      <p class="text-primary ms-4 font-xs">List</p>
                                    </a>
                                  <% } %>
                                </div>
                              </div> 
                        </td>
                    </tr>
                    <% } )%>
                </tbody>
            </table>
          
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
         
           
        </section> <!-- content-main end// -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const table = document.getElementById("coupon");
    const rows = table.getElementsByTagName("tr");

    searchInput.addEventListener("keyup", function () {
        const searchText = searchInput.value.toLowerCase();

        for (let i = 1; i < rows.length; i++) {
            const rowData = rows[i].textContent.toLowerCase();
            if (rowData.includes(searchText)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    });
});




</script>

<script>

  $(document).ready(function () {
      new DataTable('#coupon', {
          "lengthMenu": [7, 20, 30, 50],
          "pageLength": 7
      });
  });


</script>
<%- include('../layouts/adminFooter.ejs') %>