<%- include('../layouts/adminHeader.ejs') %>

        
<section class="content-main">
  <div class="content-header">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
          </button>
          <ul class="dropdown-menu">
              <a href="/admin/salesReport?status=All" class="dropdown-item">All</a>
              <a href="/admin/salesReport?status=Daily" class="dropdown-item">Daily</a>
              <a href="/admin/salesReport?status=Weekly" class="dropdown-item">Weekly</a>
              <a href="/admin/salesReport?status=Monthly" class="dropdown-item">Monthly</a>
              <a href="/admin/salesReport?status=Yearly" class="dropdown-item">Yearly</a>
          </ul>
      </div>
      <div class="row">
          <div class="col-md-12 text-right">
              <button onclick="printContent()" class="btn btn-secondary print ms-2"><i class="icon material-icons md-print"></i> Download PDF</button>
            
          </div>
      </div>
  </div>

  <div class="card mb-4">
      <header class="card-header">
          <div class="row align-items-center">
            <form action="/admin/salesReport" method="get">
                <div class="col-md-3 mb-md-0 mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate">
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate">
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <button type="submit" class="btn btn-primary">Show Report</button>
                </div>
            </form>
            
              <form action="" method="get">
                  <div style="display: flex; align-items: center;">
                      <input type="text" id="searchInput" class="form-control" placeholder="Search for products...">
                      <div class="col-md-1 col-12 me-auto mb-md-0 mb-3" style="display: flex;"></div>
                  </div>
              </form>
          </div>
      </header>

      <div class="card-body">
          <div class="d-flex" style="justify-content: center;">
              <h2 class="content-title card-title">Sales Report</h2>
          </div>

          <p>Total Revenue:₹ <%= totalRevenue.toFixed(2) %> </p>
          <p>Total Sales: <%= totalSales %></p>
          <p>Total Products Sold: <%= totalProductsSold %></p>

          <table id="products" class="table">
              <thead>
                  <tr>
                      <th scope="col">Order Id</th>
                      <th scope="col">Billing Name</th>
                      <th scope="col">Ordered Date</th>
                      <th scope="col">Delivery Date</th>
                      <th scope="col">Total</th>
                      <th scope="col">Status</th>
                      <th scope="col">Payment Method</th>
                  </tr>
              </thead>
              <tbody>
                  <% orders.forEach((order) => {
                      order.items.forEach((item) => { %>
                        <% if (order.status === 'Delivered') { %>
                            <tr>
                                <td><%= order._id %></td>
                                <td><%= order.user.name %></td>
                                <td><%= new Date(order.orderDate).toLocaleDateString() %></td>
                                <td><%= new Date(order.deliveryDate).toLocaleDateString() %></td>
                                <td><%= order.totalAmount %></td>
                                <td><%= order.status %></td>
                                <td><%= order.paymentMethod %></td>
                                <td>
                                    <% if (order.items && order.items.length > 0) { %>
                                        <% let item = order.items[0]; %>
                                        <% if (item.status === 'Delivered') { %>
                                            <span class="badge badge-pill badge-soft-success"><%= item.status %></span>
                                        <% } else { %>
                                            <span class="badge badge-pill badge-soft-danger"><%= item.status %></span>
                                        <% } %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (order.items && order.items.length > 0) { %>
                                        <% let item = order.items[0]; %>
                                        <p><%= item.paymentMethod %></p>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                        
                      <% });
                  }); %>
              </tbody>
          </table>
      </div> <!-- card-body end// -->
  </div> <!-- card end// -->
</section><!-- content-main end// -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script>
    document.getElementById("pdfButton").addEventListener("click", function () {
       
        const elementToExport = document.querySelector(".card-body");

        
        const options = {
            margin: 1, 
            filename: 'SalesReport.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

       
        html2pdf().set(options).from(elementToExport).save();
    });

   
    function printContent() {
        window.print();
    }
</script>



        
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<!-- xlsx.core.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.core.min.js"></script>


<script>
    $(document).ready(function () {
        new DataTable('#products', {
            order: [[0, 'desc']],
            "lengthMenu": [7, 20, 30, 50],
            "pageLength": 7
        });
    });
  </script>

<%- include('../layouts/adminFooter.ejs') %>