<%- include('../adminLayout/header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <% if (order.length>0) { %>
                            <tbody>
                                <% for( let i=0; i < order.length; i++ ) { %>
                                    <tr>
                                        <td><b>
                                                <%= user[i].name%>
                                            </b></td>
                                        <td><template class="__cf_email__"
                                                data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</template>
                                            <%= user[i].email %>
                                        </td>
                                        <td>
                                            <%= order[i].totalPrice %>
                                        </td>
                                        <td><span class="badge rounded-pill alert-warning">
                                                <%= order[i].status %>
                                            </span></td>
                                        <td>
                                            <%= order[i].createdOn.toLocaleDateString() %>
                                        </td>
                                       
                                        <td class="text-end">
                                            <% if (order[i].status!=="canceled") { %>
                                                <a href="/admin/orderDetials?id=<%= order[i].orderId %>&userId=<%= user[i].id %>"
                                                    class="btn btn-md rounded font-sm">Detail</a>
                                                    <% } else { %>
                                                        <span class="text-danger">Canceled</span>
                                                <% } %> 
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                    </table>
                    <% } else { %>
                        <div>
                            <h1 class="text-center">No Order Have been Placed </h1>
                        </div>
                        <% } %>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% for (let i=0; i < totalPages; i++) { %>
                        <li class="page-item <%= i+1 == currentPage? 'active' : '' %>">
                            <a class="page-link" href="/admin/orderPage?page=<%= i +1%>">
                                <%= i + 1 %>
                            </a>
                        </li>
                        <% } %>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
   
    <%- include('../adminLayout/footer') %>