<%- include('../adminlayout/header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-end"> Action </th>
                            </tr>
                        </thead>
                        <% if (order.length>0) { %>
                            <tbody>
                                <% for( let i=0; i < order.length; i++ ) { %>
                                    <tr>
                                        <td><b>
                                                <%= user[i].name%>
                                            </b></td>
                                        <td><template class="__cf_email__"
                                                data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3">[email&#160;protected]</template>
                                            <%= user[i].email %>
                                        </td>
                                        <td>
                                            <%= order[i].totalPrice %>
                                        </td>
                                        <td><span class="badge rounded-pill alert-warning">
                                                <%= order[i].status %>
                                            </span></td>
                                        <td>
                                            <%= order[i].createdOn.toLocaleDateString() %>
                                        </td>
                                       
                                        <td class="text-end">
                                            <% if (order[i].status!=="canceled") { %>
                                                <a href="/admin/orderDetials?id=<%= order[i].orderId %>&userId=<%= user[i].id %>"
                                                    class="btn btn-md rounded font-sm">Detail</a>
                                                    <button type="button" class=" btn-lg btn-md rounded font-sm btn-danger"
                                                    onclick="cancelOrder('<%=order[i].id%>')">Cancel</button>
                                                    <% } else { %>
                                                        <span class="text-danger">Canceled</span>
                                                <% } %> 
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                    </table>
                    <% } else { %>
                        <div>
                            <h1 class="text-center">No Order Have been Placed </h1>
                        </div>
                        <% } %>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function cancelOrder(orderId) {
            console.log(orderId);
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, cancel it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/cancelOrder/${orderId}`, { method: "GET" })
                        .then(res => {
                            if (res.ok) {
                                Swal.fire({
                                    title: "cancelled!",
                                    text: "Order been Canceled.",
                                    icon: "success"
                                });
                                setTimeout(()=>{
                                    location.reload()
                                },1000);
                            }else{
                                Swal.fire({
                                    title: "cannot cancel!",
                                    text: "Somthing went Wroung.",
                                    icon: "error"
                                });
                            }

                        })
                }else{
                    Swal.fire({
                                    title: "canceled Action!",
                                    text: "cancel your Operation.",
                                    icon: "error"
                                });
                }
            });
        }
    </script>

    <%- include('../adminlayout/footer') %>