<%- include('../adminlayout/header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID:  <%= order.id %></p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b><%= order.createdOn.toLocaleDateString() %></b>
                        </span> <br>
                        <small class="text-muted">Order ID: <%= order.id %></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option>Change status</option>
                            <option>Awaiting payment</option>
                            <option>Confirmed</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                        </select>
                        <a class="btn btn-primary" href="#">Save</a>
                        <a class="btn btn-secondary print ms-2" href="#"><i
                                class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= user.name %><br> <template class="__cf_email__"
                                            data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                        <%= user.email %> <br> +91 <%= user.phone %>
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%= order.payment %><br> Status: new
                                </p>
                                <a href="#">Download info</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    House:<%=address[0].houseName %> <br>
                                    landMark:<%= address[0].landMark %> <br><%= address[0].landMark %> <br>
                                    City: <%= address[0].townCity %>, <%= address[0].state %> <br>
                                    Pincode: <%= address[0].pincode %>
                                </p>
                                <a href="#">View profile</a>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            
                            <table class="table">
                                <% var subTotal =[] %>
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <% for( let i=0; i < product.length; i++ ) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/productImages/<%= product[i].image %>" width="40"
                                                            height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info">
                                                        <%= product[i].product %>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <%= product[i].price %>
                                            </td>
                                            <td>
                                                <%= product[i].quantity %>
                                            </td>
                                            <% subTotal.push(product[i].totalPrice) %>
                                            <td class="text-end"  >
                                                
                                                <%= product[i].totalPrice %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end m-5">
                                                        <dl class="dlist m-2">
                                                            <dt>Subtotal:</dt>
                                                            <dd><%= subTotal.reduce((sum,i)=>sum+=i,0) %></dd>
                                                        </dl>
                                                        <dl class="dlist m-2">
                                                            <dt>Grand total:</dt>
                                                            <dd> <b class="h5"><%= subTotal.reduce((sum,i)=>sum+=i,0) %></b> </dd>
                                                        </dl>
                                                        <dl class="dlist m-2">
                                                            <dt class="text-muted">Status:</dt>
                                                            <dd>
                                                                <span
                                                                    class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                            </dd>
                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                                <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card ****
                                **** 4768 <br>
                                Business name: Grand Market LLC <br>
                                Phone: +1 (800) 555-154-52
                            </p>
                        </div>
                        <div class="h-25 pt-4">
                            <div class="mb-3">
                                <label>Notes</label>
                                <textarea class="form-control" name="notes" id="notes"
                                    placeholder="Type some note"></textarea>
                            </div>
                            <button class="btn btn-primary">Save note</button>
                        </div>
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section>
    <%- include('../adminlayout/footer') %>