<%- include('../adminLayout/header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products grid</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>All category</option>
                            <option>Electronics</option>
                            <option>Clothings</option>
                            <option>Something else</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Latest added</option>
                            <option>Cheap first</option>
                            <option>Most viewed</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->

            <div class="card-body">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                    <% if (product) { %>
                        <% for( let i=0; i < product.length; i++ ) { %>
                            <div class="col">
                                <div class="card card-product-grid">

                                    <a href="#" class="img-wrap"></a>
                                    <img src="/productImages/<%= product[i].image[0].filename %>" alt="Product"
                                        style="height: 200px;">
                                    </a>

                                    <div class="info-wrap">
                                        <a href="#" class="title text-truncate">
                                            <%= product[i].productName %>
                                        </a>
                                        <div class="price mb-2">
                                            &#8377;<%= product[i].salePrice %>
                                        </div> <!-- price.// -->
                                        <a href="/admin/editproduct?id=<%= product[i]._id %>"
                                            class="btn btn-sm font-sm rounded btn-brand"> Edit</a> </a>
                                        <button type="button" class="btn btn-sm font-sm btn-light rounded"
                                            onclick="confirmDelete('<%= product[i]._id %>')">Delete</button>

                                        <% if (product[i].is_blocked===true) { %>
                                            <button type="button" class="btn btn-sm font-sm btn-danger rounded"
                                                onclick="blockProduct('<%= product[i]._id %>','Unblock')">
                                                Unblock</button>
                                            <% } else { %>
                                                <button type="button" class="btn btn-sm font-sm btn-danger rounded"
                                                    onclick="blockProduct('<%= product[i]._id %>','Block')">
                                                    Block</button>
                                                <% } %>

                                    </div>
                                </div> <!-- card-product  end// -->
                            </div> <!-- col.// -->
                            <% } %>

                                <% } else { %>
                                    <div>
                                        <p><b>Not Product were Added</b></p>
                                    </div>
                                    <% } %>

                </div> <!-- row.// -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function blockProduct(ProductId, Action) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, ${Action}it!`
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/${Action}-product/${ProductId}`, {
                        method: 'PUT'
                    })
                        .then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: `product were ${Action}`,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                Swal.fire({
                                    position: "center",
                                    icon: "error",
                                    title: `product were not ${Action}`,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        })
                        .catch((err) => {
                            console.error(err);
                            swal.fire("internal server error")
                        })

                }
            })
        }
    </script>
    <script>
        function confirmDelete(productId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/deleteproduct/${productId}`, { method: 'DELETE' })
                        .then((res) => {
                            if (res.ok) {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "product were Deleted.",
                                    icon: "success"
                                });
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                Swal.fire({
                                    title: "eror!",
                                    text: "cannot delete product.",
                                    icon: "error"
                                });
                            }
                        })
                        .catch((err) => {
                            console.error(err);
                            swal.fire("internal server error")
                        })

                }
            })
        }

    </script>
    <%- include('../adminLayout/footer') %>