<%- include('../adminLayout/header') %>
<div class="card-body">
    <div class="row align-items-center">
        <div class="col-md-3 col-8 me-auto mb-md-0 mb-3">
                        
        </div>
                    <div class="col-md-2 col-8">
                        <div class="custom_select">
                            <select class="form-select" id="reportSelect" onchange="selectedReport()">
                                <% if(typeof option != undefined){ %>
                                <option><%= option %></option>

                                    <% } else { %>
                                        <option>All</option>
                                     <% } %>
                                
                                <option>Week</option>
                                <option>Month</option>
                                <option>Yearly</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-3 d-flex">
                        <button onclick="downloadPdf()" class="btn btn-danger m-2"> Pdf</button>
                        <button onclick="downloadExel()" class="btn btn-success m-2"> Exel</button>
                    </div>
                </div>
    <div class="table-responsive">
        <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
                <thead class="table-light">
                    <tr>
                        <th class="align-middle" scope="col">Order ID</th>
                        <th class="align-middle" scope="col">Billing Name</th>
                        <th class="align-middle" scope="col" >Email</th>
                        <th class="align-middle" scope="col">Date</th>
                        <th class="align-middle" scope="col">Total</th>
                        <th class="align-middle" scope="col">Payment Status</th>
                        <th class="align-middle" scope="col">Payment Method</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderData.forEach(element => { %>
                        <tr>
                            <td><a href="#" class="fw-bold"><%= element.orderId %></a> </td>
                            <td><%= element.address.fullName %></td>
                            <td>
                                <%= element.address.mobile %>
                            </td>
                            <td>
                                <%= element.createdOn.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= element.totalPrice %>
                            </td>
                            <td>
                                <span class="badge badge-pill badge-soft-success"><%= element.paymentStatus %></span>
                            </td>
                          <td>
                            <span class="badge badge-pill badge-soft-success"><%= element.paymentMethod %></span>
                          </td>
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </div> <!-- table-responsive end// -->
</div>
<script>
    function selectedReport(){
        var selectElement = document.getElementById("reportSelect");
            var selectedIndex = selectElement.selectedIndex;
            var selectedOption = selectElement.options[selectedIndex].value;
    window.location.href=`/admin/selectedReport?option=${selectedOption}`
    }
    function downloadPdf(){
        var selectElement = document.getElementById("reportSelect");
            var selectedIndex = selectElement.selectedIndex;
            var selectedOption = selectElement.options[selectedIndex].value;
            window.location.href=`/admin/downloadPdf?option=${selectedOption}`
    }
    function downloadExel(){
        var selectElement = document.getElementById("reportSelect");
            var selectedIndex = selectElement.selectedIndex;
            var selectedOption = selectElement.options[selectedIndex].value;
            window.location.href=`/admin/downloadExel?option=${selectedOption}`
    }
</script>

<%- include('../adminLayout/footer') %>