<style>
    .couponCard {
        outline: #39f;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  color: #000000;
  height: 250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  }
  
  
  
  .couponCard h1 {
  font-size: 48px;
  margin-bottom: 0px;
  }
  
  .couponCard span {
  font-size: 28px;
  }
  
  .image {
  position: absolute;
  opacity: .1;
  left: 0;
  top: 0;
  }
  </style>
  <%- include('../layouts/userHeader.ejs') %>
  
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Pages
          <span></span> Account
        </div>
      </div>
    </div>
    <section class="pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 m-auto">
            <div class="row">
              <div class="col-md-3 col-lg-3">
                <div class="dashboard-menu">
                  <ul class="nav flex-column" role="tablist">
                    <!-- <li class="nav-item">
                                      <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                  </li> -->
                    <li class="nav-item">
                      <a class="nav-link" href="/userprofile"><i class="fi-rs-user mr-10"></i>Account details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/userAddress"><i class="fi-rs-marker mr-10"></i>My Address</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/orderSuccess"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/wishlist"><i class="fi-rs-heart mr-10"></i>Your List</a>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link" href="/Wallet"><i class="fi-rs-shopping-bag mr-10"></i>Wallets</a>
                    </li>
  
                    <li class="nav-item">
                      <a class="nav-link"  href="/coupon" ><i class="fi-rs-shopping-bag mr-10"></i>coupon</a>
                    </li>
  
  
                    <li class="nav-item">
                      <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-9 col-lg-9 d-flex justify-content-around">
                <div class="tab-content">                           
  
                    
  
                    <div id="tab-account" aria-labelledby="tab-account-link">
                        <div class="row">
                            <% if (coupon.length > 0) { for (let i = 0; i < coupon.length; i++) { %>
                            <div class="col-lg-4 mb-3">
                                <div class="d-flex justify-content-center couponContainer container">
                                    <div class="d-flex couponCard card text-center">
                                        <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                                        <h1><% if(coupon[i].type =='percentage') { %> <%= coupon[i].discount %>% <% }else{ %>₹  <%= coupon[i].discount %><%}%></h1><span class="d-block">Discount</span>
                                        <span class="d-block text-muted" style="font-size: medium;">Expires at:- <br> <%= new Date(coupon[i].expiry).toLocaleDateString() %></span>
                                        <% if (coupon[i].userUsed.includes(userData._id)) { %>
                                            <p>Coupon Redeemed</p>
                                            <% } else { %>
                                                <div class="mt-4"><small>With Code : <%= coupon[i].code %></small></div>
                                        <a class="copy-coupon-btn btn btn-outline-2 " data-coupon="<%= coupon[i].code %>">
  
                                            <span class="" style="font-size: medium;"><i class="fas fa-copy" ></i> Copy</span>
                                        </a>
                                        <% } %>
                                    </div>
                                </div>
                                <!-- End .card-dashboard -->
                            </div>
                            <!-- End .col-lg-6 -->
                    
                            <% } } else { %>
                            <div class="col-6 col-md-4 col-xl-3">
                                <p>No Coupon Found found</p>
                            </div>
                            <% } %>
                            
                        </div>
                    </div><!-- .End .tab-pane -->
                    
                    <script>
                        // Add event listener to copy coupon code
                        document.querySelectorAll('.copy-coupon-btn').forEach(function (button) {
                            button.addEventListener('click', function () {
                                const couponCode = this.dataset.coupon;
                                copyToClipboard(couponCode);
                            });
                        });
                    
                        // Function to copy text to clipboard
                        function copyToClipboard(text) {
                            navigator.clipboard.writeText(text).then(function () {
                                Swal.fire({
                                title: 'Copied',
                                text: 'Coupon code copied',
                                background: '#ffffff', // Set the background color to white
                                customClass: {
                                  popup: 'white-background', // Add a custom class for additional styling
                                },
                                icon: 'success',
                            });}).catch(function (err) {
                                console.error('Unable to copy to clipboard', err);
                            });
                        }
                    </script>
                    
                    
                </div>
            </div><!-- End .col-lg-9 -->
            </div>
          </div>
        </div>
      </div>
  
  
    </section>
  </main>
  
  <%- include('../layouts/userFooter.ejs') %>