<%- include('../layouts/userHeader.ejs') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <div class="text-end me-5 mt-5">
            <a href="/addAddress"><button class="btn float-end btn-success btn-sm rounded font-md">Add
                    Address</button></a>

        </div>
        <section class="pt-150 pb-150">

            <div class="container">

                <div class="row">
                    <div class="col-lg-12 m-auto">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <!-- <li class="nav-item">
                                      <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                  </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="/userprofile"><i
                                                    class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/userAddress"><i class="fi-rs-marker mr-10"></i>My
                                                Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                href="/orderSuccess" role="tab" aria-controls="orders"
                                                aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#track-orders" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="/wishlist"><i class="fi-rs-heart mr-10"></i>Your
                                                List</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/Wallet"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Wallets</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/coupon"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>coupon</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">






                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Your Orders</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="orders" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Order Date</th>
                                                        <th>Delivery Date</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <!-- Replace this block of code in your template -->
                                                

                                                <tbody>
                                                    <% let displayedOrders = []; %>
                                                    <% orders.slice().reverse().forEach(function(order_data) { %>
                                                        <% if (!displayedOrders.includes(order_data.orderId)) { %>
                                                            <% displayedOrders.push(order_data.orderId); %>
                                                            <tr>
                                                                <td><%= order_data.orderId %></td>
                                                                <td><%= new Date(order_data.orderDate).toLocaleDateString() %></td>
                                                                <td><%= new Date(order_data.deliveryDate).toLocaleDateString() %></td>
                                                                <td><%= order_data.status %></td>
                                                                <td><%= order_data.totalAmount %></td>
                                                                <td><a href="/orderDetails/<%= order_data._id %>" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                        <% } %>
                                                    <% }) %>
                                                </tbody>
                                                
                                                



                                            </table>
                                        </div>
                                    </div>
 <!-- Pagination Section -->

 <nav class="mt-4" aria-label="Page navigation">
    <ul class="pagination">
      <% if (currentPage> 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% } %>

          <% for (let i=1; i <=totalPages; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>

              <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <% } %>
    </ul>
  </nav>




                                </div>








                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
   


    <%- include('../layouts/userFooter.ejs') %>