<%- include('../layout/header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                href="#dashboard" role="tab" aria-controls="dashboard"
                                                aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" onclick="goto()"
                                                role="tab" aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                href="#track-orders" role="tab" aria-controls="track-orders"
                                                aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                                role="tab" aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <%= user.name %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="profile-section text-center">
                                                    <div class="profile-photo">
                                                        <img src="/assets/imgs/theme/icons/user-Icon.png"
                                                            alt="Profile Picture">
                                                    </div>
                                                    <a href="/editProfile" class="btn btn-rounded">edit</a>
                                                    <div class="profile-details">
                                                        <h5>Name: <%= user.name %>
                                                        </h5>
                                                        <p>Email: <%= user.email %>
                                                        </p>
                                                        <% if (Address.length) { %>
                                                            <p>Address : <%= Address[0].houseName %>,&nbsp; <%=
                                                                        Address[0].landMark %>, &nbsp;<%=
                                                                            Address[0].townCity %>,&nbsp;<%=
                                                                                Address[0].pincode %>
                                                            </p>

                                                            <% } else { %>
                                                                <p>Go To Add Address Tab</p>
                                                                <button><a href="/addAddress"
                                                                        class="text-decoration-none">Add
                                                                        Address</a></button>
                                                                <% } %>

                                                                    <p>Phone:+91 <%= user.phone %>
                                                                    </p>
                                                                    <button><a href="/changePassword"
                                                                            class="text-decoration-none">Change
                                                                            Password</a></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and
                                                    press "Track" button. This was given to you on your receipt and in
                                                    the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#"
                                                            method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id"
                                                                    placeholder="Found in your order confirmation email"
                                                                    type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email"
                                                                    placeholder="Email you used during checkout"
                                                                    type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width"
                                                                type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade " id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row">
                                            <% if (Address.length> 0) { %>
                                                <% for( let i=0; i < Address.length; i++ ) { %>

                                                    <div class="col-lg-12">
                                                        <div class="card mb-3 mb-lg-0">
                                                            <div class="card-header">
                                                                <h5 class="mb-0">
                                                                    <%= Address[i].addressType %>
                                                                </h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <address>
                                                                    <%= Address[i].houseName %><br>
                                                                        <%= Address[i].landMark %>,<br>
                                                                            <%= Address[i].townCity %>.<br>Phone:<%=
                                                                                    Address[i].mobile %> <br>
                                                                                    <%= Address[i].pincode %>
                                                                </address>
                                                                <p>
                                                                    <%= Address[i].state %>
                                                                </p><br>
                                                                <a href="/editAddress" class="btn-small">Edit</a><span>
                                                                    | </span>
                                                                <button onclick="deleteAddress()"
                                                                    class="btn-small border-0 text-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <% } %>


                                                        <% } else { %>
                                                            <div class="container text-center m-auto">
                                                                <p>Please Goto add
                                                                    Address to display Address</p>
                                                                <button><a href="/addAddress"
                                                                        class="text-decoration-none">Add
                                                                        Address</a></button>
                                                            </div>
                                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deleteAddress(addressId) {
            fetch(`/deleteAddress?id=${addressId}`, {
                method: "DELETE",
            })
                .then(response => {
                    if (response.ok) {
                        location.reload()
                    } else {
                        throw new Error('Error deleting address');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle the error case
                });
        }
        function cancelOrder(orderId, productId) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, cancel the order!",
                cancelButtonText: "No",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/cancelOrder/${orderId}/${productId}`, { methord: 'DELETE' })
                        .then(res => {
                            swalWithBootstrapButtons.fire({
                                title: "Order Cancelled!",
                                text: "Your order has been successfully cancelled.",
                                icon: "success"
                            });
                            location.reload();
                        })
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    // User clicked "No, keep it" or closed the modal
                    swalWithBootstrapButtons.fire({
                        title: "Cancelled",
                        text: "Your order is safe :)",
                        icon: "info"
                    });
                }
            });

        }
    </script>
    <script>
        function goto() {
          window.location.href='/orderDetials'  
        }
    </script>
    <%- include('../layout/footer') %>