<%- include('../layout/header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8  m-auto">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <% let subTotal=[] %>
                                        <tbody>
                                            <% if (cart.length>0) { %>
                                                <% for( let i=0; i< product.length; i++ ) { %>
                                                    <tr>
                                                        <td class="image product-thumbnail"><img
                                                                src="/productImages/<%= product[i].image[0].filename %>"
                                                                alt="#"></td>
                                                        <td>
                                                            <h5><a href="/productShop?id=<%= product[i]._id %>">
                                                                    <%=product[i].name%>
                                                                </a></h5> <span class="product-qty">
                                                                <%= cart[i].quantity %>
                                                            </span>
                                                        </td>
                                                        <%= subTotal.push((product[i].salePrice * cart[i].quantity))%>
                                                            <td>
                                                                <%=(product[i].salePrice *
                                                                    cart[i].quantity).toFixed(2)%>
                                                            </td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <th>SubTotal</th>
                                                            <td class="product-subtotal" colspan="2"  id="subTotal">
                                                                <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                            </td>
                                                        </tr>
                                                        <% } else { %>
                                                            <div class="container mt-5">
                                                                <div class=" text-center">
                                                                    <img src="/assets/imgs/page/download.png"
                                                                        alt="Empty Cart Image">
                                                                    <p>Uh-oh! soory you have nothing to place order .
                                                                    </p>
                                                                    <p>Time to fill it up with amazing Products!</p>
                                                                    <a href="/" class="btn btn-primary">Go For Some
                                                                        thing to Shop</a>
                                                                </div>
                                                            </div>

                                                            <% } %>
                                                                <tr>
                                                                    <th>Shipping</th>
                                                                    <td colspan="2"><em>Free Shipping</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <td colspan="2" class="product-subtotal"><span
                                                                            class="font-xl text-brand fw-900">
                                                                            <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                                        </span></td>
                                                                </tr>
                                        </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <form>
                                    <!-- ... Your other form elements ... -->
                                    <% if (Address.length> 0) { %>
                                        <% for (let i=0; i < Address.length; i++) { %>
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">
                                                            <%= Address[i].addressType %>
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <!-- Radio button wrapped in a form-check container -->
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="selectedAddress" value="<%= Address[i]._id %>"
                                                                id="addressId" required checked>
                                                            <!-- Address details -->
                                                            <address>
                                                                <%= Address[i].houseName %><br>
                                                                    <%= Address[i].landMark %>,<br>
                                                                        <%= Address[i].townCity %>.<br>Phone:<%=
                                                                                Address[i].mobile %> <br>
                                                                                <%= Address[i].pincode %>
                                                            </address>
                                                            <p>
                                                                <%= Address[i].state %>
                                                            </p><br>
                                                            <a href="/editAddress?id=<%= Address[i].addressType %>"
                                                                class="btn-small">Edit</a><span> | </span>
                                                            <button
                                                                onclick="deleteAddress('<%=Address[i].addressType %>')"
                                                                class="btn-small border-0 text-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% if (Address.length < 2) { %>
                                                    <div class="col-lg-6">
                                                        <div class="card mb-3 mb-lg-0">
                                                            <div class="card-body">
                                                                <button><a href="/account"
                                                                        class="text-decoration-none">Add
                                                                        Address</a></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="container text-center m-auto">
                                                                <p>Please Goto add Address to display Address</p>
                                                                <button><a href="/account"
                                                                        class="text-decoration-none">Add
                                                                        Address</a></button>
                                                            </div>
                                                            <% } %>
                                </form>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios6" checked="" value="cod">
                                            <label class="form-check-label" for="exampleRadios6"
                                                data-bs-toggle="collapse" data-target="#cashOnDelivery"
                                                aria-controls="cashOnDelivery">Cash On Delivery</label>
                                            <div class="form-group collapse in" id="cashOnDelivery">
                                                <p class="text-muted mt-5">the purchase of the customer will became
                                                    cash on delivery. </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios3" checked=""
                                                value="bankTransfer">
                                            <label class="form-check-label" for="exampleRadios3"
                                                data-bs-toggle="collapse" data-target="#bankTranfer"
                                                aria-controls="bankTranfer">Direct Bank Transfer</label>
                                            <div class="form-group collapse in" id="bankTranfer">
                                                <p class="text-muted mt-5">There are many variations of passages of
                                                    Lorem Ipsum available, but the majority have suffered
                                                    alteration. </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios4" checked="">
                                            <label class="form-check-label" for="exampleRadios4"
                                                data-bs-toggle="collapse" data-target="#checkPayment"
                                                aria-controls="checkPayment">Check Payment</label>
                                            <div class="form-group collapse in" id="checkPayment">
                                                <p class="text-muted mt-5">Please send your cheque to Store Name,
                                                    Store Street, Store Town, Store State / County, Store Postcode.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios5" checked="">
                                            <label class="form-check-label" for="exampleRadios5"
                                                data-bs-toggle="collapse" data-target="#paypal"
                                                aria-controls="paypal">Paypal</label>
                                            <div class="form-group collapse in" id="paypal">
                                                <p class="text-muted mt-5">Pay via PayPal; you can pay with your
                                                    credit card if you don't have a PayPal account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-fill-out btn-block mt-30"
                                    onclick="placeOrder()">Place
                                    Order</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deleteAddress(addressId) {
            fetch(`/deleteAddress?id=${addressId}`, {
                method: "DELETE",
            })
                .then(response => {
                    if (response.ok) {
                        location.reload()
                    } else {
                        throw new Error('Error deleting address');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle the error case
                });
        }
    </script>
    <script>
        function placeOrder() {
            // Confirm the order with a warning
            Swal.fire({
                title: "Are you sure?",
                text: "Are you Sure You Want Place The Order!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, place order!"
            }).then((result) => {
                if (result.isConfirmed) {
                    var selectedPaymentOption;

                    // Listen for change events on radio buttons
                    var paymentOptions = document.getElementsByName('payment_option');
                    paymentOptions.forEach(function (option) {
                        if (option.checked) {
                            selectedPaymentOption = option.value;
                        }
                    });
                    // Get other values
                    const addressId = document.getElementById('addressId').value;
                    // Construct data for the fetch request
                    const requestData = {
                        paymentOption: selectedPaymentOption,
                        addressId: addressId
                    };
                    // If the user confirms, send a POST request to /orderComplete
                    fetch('/orderComplete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestData),
                    })
                        .then(response => {
                            if (response.ok) {
                                // If the response is successful, show success message
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: "Your order has been placed successfully!",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                // Redirect to the homepage after a successful order
                                setTimeout(()=>{
                                    window.location.href = '/account';
                                },1000)
                                
                            } else {
                                // If there's an error in the response, show an error message
                                Swal.fire({
                                    position: "center",
                                    icon: "error",
                                    title: "Error placing the order",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                            console.log(response); // Log the entire response
                            return response.json();
                        })
                        .catch(error => {
                            // If there's an error in the fetch, show an error message
                            Swal.fire({
                                position: "center",
                                icon: "error",
                                title: "Error placing the order",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            console.error(error);
                        });
                }
            });
        }

    </script>
    <%- include('../layout/footer') %>