<%- include('../layout/header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8  m-auto">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <% var subTotal=[] %>
                                        <tbody>
                                            <% if (cart.length>0) { %>
                                                <% for( let i=0; i< product.length; i++ ) { %>
                                                    <tr>
                                                        <td class="image product-thumbnail"><img
                                                                src="/productImages/<%= product[i].image[0].filename %>"
                                                                alt="#"></td>
                                                        <td>
                                                            <h5><a href="/productShop?id=<%= product[i]._id %>">
                                                                    <%=product[i].name%>
                                                                </a></h5> <span class="product-qty">
                                                                <%= cart[i].quantity %>
                                                            </span>
                                                        </td>
                                                        <%= subTotal.push((product[i].salePrice * cart[i].quantity))%>
                                                            <td>
                                                                <%=(product[i].salePrice *
                                                                    cart[i].quantity).toFixed(2)%>
                                                            </td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <th>SubTotal</th>
                                                            <td class="product-subtotal" colspan="2" id="subTotal">
                                                                <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                            </td>
                                                        </tr>
                                                        <% } else { %>
                                                            <div class="container mt-5">
                                                                <div class=" text-center">
                                                                    <img src="/assets/imgs/page/download.png"
                                                                        alt="Empty Cart Image">
                                                                    <p>Uh-oh! soory you have nothing to place order .
                                                                    </p>
                                                                    <p>Time to fill it up with amazing Products!</p>
                                                                    <a href="/" class="btn btn-primary">Go For Some
                                                                        thing to Shop</a>
                                                                </div>
                                                            </div>

                                                            <% } %>
                                                                <tr>
                                                                    <th>Shipping</th>
                                                                    <td colspan="2"><em>Free Shipping</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <td colspan="2" class="product-subtotal"><span
                                                                            class="font-xl text-brand fw-900">
                                                                            <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                                        </span></td>
                                                                </tr>
                                        </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <form>
                                    <% if (Address) { %>
                                        <div class="ship_detail">
                                            <div class="form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                                            id="differentaddress">
                                                        <label class="form-check-label label_info"
                                                            data-bs-toggle="collapse" data-target="#collapseAddress"
                                                            href="#collapseAddress" aria-controls="collapseAddress"
                                                            for="differentaddress"><span>Ship to a different
                                                                address?</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapseAddress" class="different_address collapse in">
                                                <div class="form-group">
                                                    <input type="text" id="fullName" value="<%= Address.fullName %>">
                                                    <a id="fullNameError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="mobile" value="<%= Address.mobile %>">
                                                    <a id="mobileError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="houseName" value="<%= Address.houseName %>">
                                                    <a id="houseNameError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="landMark" value="<%= Address.landMark %>">
                                                    <a id="landmarkError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="townCity" value="<%= Address.townCity %>">
                                                    <a id="townCityError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="state" value="<%= Address.state %>">
                                                    <a id="stateError" class="text-danger"></a><br>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="pincode" value="<%= Address.pincode %>">
                                                    <a id="pincodeError" class="text-danger"></a><br>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else { %>
                                            <div class="ship_detail">
                                                <div class="form-group">
                                                    <div class="chek-form">
                                                        <div class="custome-checkbox">
                                                            <input class="form-check-input" type="checkbox"
                                                                name="checkbox" id="differentaddress">
                                                            <label class="form-check-label label_info"
                                                                data-bs-toggle="collapse" data-target="#collapseAddress"
                                                                href="#collapseAddress" aria-controls="collapseAddress"
                                                                for="differentaddress"><span>Ship to a different
                                                                    address?</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="collapseAddress" class="different_address collapse in">
                                                    <div class="form-group">
                                                        <input type="text" id="fullName" placeholder="Full name *">
                                                        <a id="fullNameError" class="text-danger"></a><br>
                                                        <div class="form-group">
                                                            <input type="text" id="mobile" placeholder="Mobile *">
                                                            <a id="mobileError" class="text-danger"></a><br>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" id="houseName" placeholder="House name*">
                                                            <a id="houseNameError" class="text-danger"></a><br>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" id="landMark" placeholder="Land mark">
                                                            <a id="landmarkError" class="text-danger"></a><br>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" id="townCity"
                                                                placeholder="City / Town *">
                                                            <a id="townCityError" class="text-danger"></a><br>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" id="state" placeholder="State *">
                                                            <a id="stateError" class="text-danger"></a><br>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" id="pincode" placeholder="Pincode *">
                                                            <a id="pincodeError" class="text-danger"></a><br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                </form>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method mt-50">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios3" checked="">
                                            <label class="form-check-label" for="exampleRadios3"
                                                data-bs-toggle="collapse" data-target="#bankTranfer"
                                                aria-controls="bankTranfer">Direct Bank Transfer</label>
                                            <div class="form-group collapse in" id="bankTranfer">
                                                <p class="text-muted mt-5">There are many variations of passages of
                                                    Lorem Ipsum available, but
                                                    the majority have suffered alteration. </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios4" checked="">
                                            <label class="form-check-label" for="exampleRadios4"
                                                data-bs-toggle="collapse" data-target="#cashOnDelivery"
                                                aria-controls="cashOnDelivery">Cash On Delivery</label>
                                            <div class="form-group collapse in" id="cashOnDelivery">
                                                <p class="text-muted mt-5">Please send your cash on Delivery to Store
                                                    Name, Store Street, Store
                                                    Town, Store State / County, Store Postcode. </p>
                                            </div>
                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="payment_option" id="exampleRadios5" checked="">
                                            <label class="form-check-label" for="exampleRadios5"
                                                data-bs-toggle="collapse" data-target="#razorPay"
                                                aria-controls="razorPay">Razor Pay</label>
                                            <div class="form-group collapse in" id="rozarPay">
                                                <p class="text-muted mt-5">Pay via RazorPay; you can pay with your
                                                    credit card if you don't have
                                                    a RazorPay account.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="placeOrder"
                                    class="btn btn-fill-out btn-block mt-30 text-center" onclick="placeOrder()">Place
                                    Order</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.getElementById('placeOrder').onclick = function (e) {
            const checkbox = document.getElementById("differentaddress");

            // Function to validate the form
            function validateForm() {
                // Get all the input fields
                const fullName = document.getElementById("fullName");
                const mobile = document.getElementById("mobile");
                const houseName = document.getElementById("houseName");
                const landMark = document.getElementById("landMark");
                const townCity = document.getElementById("townCity");
                const state = document.getElementById("state");
                const pincode = document.getElementById("pincode");

                const fullNameError = document.getElementById('fullNameError');
                const mobileError = document.getElementById('mobileError');
                const houseNameError = document.getElementById('houseNameError');
                const landMarkError = document.getElementById('landmarkError');
                const townCityError = document.getElementById('townCityError');
                const stateError = document.getElementById('stateError');
                const pincodeError = document.getElementById('pincodeError');

                // Check if the checkbox is checked
                if (!checkbox.checked) {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "please check the Address",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    return false;
                }

                // Regular expressions (modify as needed)
                const fullNameRegex = /^[A-Za-z\s]+$/;
                const mobileRegex = /^[0-9]{10}$/;
                const pincodeRegex = /^\d{6}$/;
                // Add other regex validations as needed...

                // Validation logic for each field (similar to the previous script)
                console.log(fullName);
                // Full Name field
                if (fullName.value.trim() === '') {
                    fullNameError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        fullNameError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (!fullNameRegex.test(fullName.value)) {
                    fullNameError.innerHTML = 'Please enter a valid name';
                    setTimeout(() => {
                        fullNameError.innerHTML = '';
                    }, 5000);
                    return false;
                }

                // Mobile field
                if (mobile.value.trim() === '') {
                    mobileError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        mobileError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (!mobileRegex.test(mobile.value)) {
                    mobileError.innerHTML = 'Please enter a valid mobile number';
                    setTimeout(() => {
                        mobileError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (houseName.value.trim() === '') {
                    houseNameError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        houseNameError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (landMark.value.trim() === '') {
                    landMarkError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        landMarkError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (townCity.value.trim() === '') {
                    townCityError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        townCityError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (state.value.trim() === '') {
                    stateError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        stateError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (pincode.value.trim() === '') {
                    pincodeError.innerHTML = 'Field is required';
                    setTimeout(() => {
                        pincodeError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                if (!pincodeRegex.test(pincode.value)) {
                    pincodeError.innerHTML = 'Please enter a valid name';
                    setTimeout(() => {
                        pincodeError.innerHTML = '';
                    }, 5000);
                    return false;
                }
                return true;
            }

            // Event listener for Place Order button click

            if (validateForm()) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Are you Sure You Want Place The Order!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Payment!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        const requestData = {
                            fullName: fullName.value,
                            mobile: mobile.value,
                            houseName: houseName.value,
                            landMark: landMark.value,
                            townCity: townCity.value,
                            state: state.value,
                            pincode: pincode.value
                        };
                        // If the user confirms, send a POST request to /orderComplete
                        const paymentOptions = document.getElementsByName('payment_option');
                        let selectedPaymentOption = null;

                        // Loop through the payment options to find the selected one
                        for (let i = 0; i < paymentOptions.length; i++) {
                            if (paymentOptions[i].checked) {
                                selectedPaymentOption = paymentOptions[i].nextElementSibling.textContent.trim(); // Get the text of the label
                                break;
                            }
                        }
                        if (selectedPaymentOption) {
                            // Check if the selected payment option is Cash on Delivery
                            if (selectedPaymentOption === 'Cash On Delivery') {
                                fetch('/orderComplete', {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify({
                                        paymentOption: "CashOnDelivery",
                                        requestData
                                    })
                                }).then(res=>{
                                        if(res.ok){
                                             Swal.fire({
                                                position: "center",
                                                icon: "success",
                                                title: "Your order has been placed successfully!",
                                                showConfirmButton: false,
                                                timer: 1500
                                            });
                                            setTimeout(()=>{
                                                location.href='/orderSuccesspage'
                                            },2000)
                                        }
                                    })

                            }
                            // Check if the selected payment option is RazorPay
                            else if (selectedPaymentOption === 'Razor Pay') {
                                var orderId;
                                var amount;
                                var settings = {
                                    "url": '/orderComplete',
                                    "method": "POST",
                                    "timeout": 0,
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "data": JSON.stringify({
                                        paymentOption: "RazorPay",
                                        requestData
                                    }),
                                };

                                // Perform the AJAX request
                                $.ajax(settings).done(function (response) {
                                    // This code will execute when the AJAX request is successful
                                    orderId = response.orderId;
                                    amount = response.amount; // Convert amount to smallest currency unit (paise)

                                    // Construct Razorpay options after getting orderId and amount
                                    var options = {
                                        "key": 'rzp_test_ihsNz6lracNIu3',
                                        "amount": amount,
                                        "currency": "INR",
                                        "name": "PATRIX Corp",
                                        "description": "Buy Watch",
                                        "image": "https://example.com/your_logo",
                                        "order_id": orderId,
                                        "handler": function (response) {
                                            // Handle payment success
                                            fetch('/razorOrderComplete', {
                                                method: "POST",
                                                headers: {
                                                    "Content-Type": "application/json"
                                                },
                                                body: JSON.stringify({
                                                    paymentOption: "Razorpay",
                                                })
                                            }).then(res => {
                                                if (res.ok) {
                                                    Swal.fire({
                                                        position: "center",
                                                        icon: "success",
                                                        title: "Your order has been placed successfully!",
                                                        showConfirmButton: false,
                                                        timer: 1500
                                                    });
                                                    setTimeout(() => {
                                                        location.href = '/orderSuccesspage'
                                                    }, 2000)
                                                }
                                            })
                                        },
                                        "theme": {
                                            "color": "#45896cc"
                                        }
                                    };

                                    // Create a new instance of Razorpay with the constructed options
                                    var rzp1 = new Razorpay(options);

                                    // Add event listener for payment failure
                                    rzp1.on('payment.failed', function (response) {
                                        Swal.fire({
                                            position: "top-end",
                                            icon: "error",
                                            title: "You canceled the Payment",
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        alert(response.error.code);
                                        alert(response.error.description);
                                        alert(response.error.source);
                                        alert(response.error.step);
                                        alert(response.error.reason);
                                        alert(response.error.metadata.order_id);
                                        alert(response.error.metadata.payment_id);
                                    });

                                    // Open Razorpay payment modal
                                    rzp1.open();
                                });

                            }
                            // Handle other payment options if needed
                            else {
                                // console.log('Selected payment option:', selectedPaymentOption);
                                // Perform actions for other payment options
                            }
                        }
                    }
                });
            }
        }
        // Confirm the order with a warning

    </script>
    <%- include('../layout/footer') %>