<%- include('../layout/header',{currentPage:'editProfile'}) %>
    <div class="card">
        <div class="card-header">
            <h5>Change Password</h5>
        </div>
        <div class="card-body col-6 m-auto">
            <div>
                <% if (typeof message !=='undefined' ) { %>
                    <span class="text-center text-danger">
                        <%= message %>
                    </span>

                    <% } %>
            </div>
            <form action="/editProfile" method="post" onsubmit="return validateProfile()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Name<span class="required">*</span></label>
                        <input class="form-control square" value="<%= userData.name %>" id="name" name="name" type="text">
                        <a id="nameError" class="text-danger"></a><br>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Mobile<span class="required">*</span></label>
                        <input class="form-control square" value="<%= userData.phone %>" name="phone" type="number" id="mobile">
                        <a id="mobileError" class="text-danger"></a><br>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-fill-out">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 

    <script>
        function validateProfile() {
            const name = document.getElementById("name");
            const nameError = document.getElementById("nameError");
            const mobile = document.getElementById("mobile");
            const mobileError = document.getElementById("mobileError");
          
            const nameRegex = /^[A-Z]/;
            const mobileRegex = /^[0-9]{10}$/;
            if (name.value.trim() === '') {
                nameError.innerHTML = 'Field is required'
                setTimeout(() => {
                    nameError.innerHTML = ''
                }, 5000)
                return false;
            }
            if (!nameRegex.test(name.value)) {
                nameError.innerHTML = 'First letter should be capital'
                setTimeout(() => {
                    nameError.innerHTML = ''
                }, 5000)
                return false;
            }
            if (mobile.value.trim() === '') {
                mobileError.innerHTML = 'Field is required'
                setTimeout(() => {
                    mobileError.innerHTML = ''
                }, 5000)
                return false;
            }

            if (!mobileRegex.test(mobile.value)) {
                mobileError.innerHTML = 'Please enter a valid number'
                setTimeout(() => {
                    mobileError.innerHTML = ''
                }, 5000)
                return false;
            }

            return true;

        }
    </script>
    <script>
    
    </script>
    <%- include('../layout/footer') %>