<%- include('../layout/header',{ currentPage: 'home'}) %>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span>
                </div>
            </div>
        </div>
        <main class="main">
            <section class="home-slider position-relative pt-50">
                <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Trade-in offer</h4>
                                        <h2 class="animated fw-900">Supper value deals</h2>
                                        <h1 class="animated fw-900 text-brand">On all products</h1>
                                        <p class="animated">Save more with coupons & up to 70% off</p>
                                        <a class="animated btn btn-brush btn-brush-3" href="/Shop">
                                            Shop
                                            Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-1" src="assets/imgs/slider/slider-1.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Hot promotions</h4>
                                        <h2 class="animated fw-900">Fashion Trending</h2>
                                        <h1 class="animated fw-900 text-7">Great Collection</h1>
                                        <p class="animated">Save more with coupons & up to 20% off</p>
                                        <a class="animated btn btn-brush btn-brush-2" href="shop-product-right.html">
                                            Discover Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-2" src="assets/imgs/slider/slider-2.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Upcoming Offer</h4>
                                        <h2 class="animated fw-900">Big Deals From</h2>
                                        <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                        <p class="animated">Analog,digital and Smart Watches</p>
                                        <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html">
                                            Shop
                                            Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-3" src="assets/imgs/slider/slider-3.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </section>
            <section class="featured  position-relative">            
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                                <h4 class="bg-1">Free Shipping</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                                <h4 class="bg-3">Online Order</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                                <h4 class="bg-2">Save Money</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                                <h4 class="bg-4">Promotions</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                                <h4 class="bg-5">Happy Sell</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                                <h4 class="bg-6">24/7 Support</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-tabs position-relative wow fadeIn animated">
                <div class="container">
                    <div class="tab-header">

                        <a href="#" class="view-more d-none d-md-flex">View More<i
                                class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                <% if (!product) { %>
                                    <div>
                                        <p>product Not Found</p>
                                    </div>
                                    <% } else { %>
                                        <% for( let i=0; i < product.length; i++ ) { %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productShop?id=<%= product[i]._id %>">
                                                                <img class="default-img"
                                                                    src="/productImages/<%= product[i].image[0].filename %>"
                                                                    alt="" style="height: 200px;">
                                                                <img class="hover-img"
                                                                    src="/productImages/<%= product[i].image[0].filename %>"
                                                                    alt="" style="height: 200px;">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#quickViewModal"><i
                                                                    class="fi-rs-eye"></i></a>
                                                            <button aria-label="Add To Wishlist"
                                                                class="action-btn hover-up"
                                                                onclick="addToWishlist('<%= product[i]._id %>')"><i
                                                                    class="fi-rs-heart"></i></button>
                                                            <a aria-label="Compare" class="action-btn hover-up"
                                                                href="shop-compare.html"><i
                                                                    class="fi-rs-shuffle"></i></a>
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Hot</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-name">
                                                            <a href="shop-grid-right.html">
                                                                <%= product[i].productName %>
                                                            </a>
                                                        </div>
                                                        <h2><a href="/productShop"></a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>90%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>&#8377;<%= product[i].salePrice %></span>
                                                            <span class="old-price">&#8377;<%= product[i].orginalPrice
                                                                    %>
                                                            </span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            <button aria-label="Add To Cart" class="action-btn hover-up"
                                                                onclick="addToCart('<%= product[i]._id %>')"><i
                                                                    class="fi-rs-shopping-bag-add"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <% } %>
                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab one (Featured)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </section>      
            <section class="mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-bg wow fadeIn animated"
                                style="background-image: url('assets/imgs/banner/banner-8.jpg')">
                                <div class="banner-content">
                                    <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                    <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up
                                        to
                                        40%</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function addToCart(productId) {
            fetch(`/addToCart?id=${productId}`,{method: "GET"})
            .then(res=>{return res.json()})
            .then(data=>{
                if(data.success){
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }else{
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: data.message,
                    });
                }
              
            })
            .catch(error=>{
                Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: `Error adding item to cart: ${error}`,
                    });
            })
        }
    </script>
    <script>
        function addToWishlist(productId) {
            fetch(`/addToWishlist?id=${productId}`, { method: "GET" })
                .then(res => { return res.json() })
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: data.message,
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "An error occurred while processing your request.",
                    });
                });
        }
    </script>
    <%- include('../layout/footer') %>