<%- include('../layout/header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span>
                </div>
            </div>
        </div>
        <main class="main">
            <section class="home-slider position-relative pt-50">
                <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Trade-in offer</h4>
                                        <h2 class="animated fw-900">Supper value deals</h2>
                                        <h1 class="animated fw-900 text-brand">On all products</h1>
                                        <p class="animated">Save more with coupons & up to 70% off</p>
                                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html">
                                            Shop
                                            Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-1" src="assets/imgs/slider/slider-1.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Hot promotions</h4>
                                        <h2 class="animated fw-900">Fashion Trending</h2>
                                        <h1 class="animated fw-900 text-7">Great Collection</h1>
                                        <p class="animated">Save more with coupons & up to 20% off</p>
                                        <a class="animated btn btn-brush btn-brush-2" href="shop-product-right.html">
                                            Discover Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-2" src="assets/imgs/slider/slider-2.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Upcoming Offer</h4>
                                        <h2 class="animated fw-900">Big Deals From</h2>
                                        <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                        <p class="animated">Analog,digital and Smart Watches</p>
                                        <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html">
                                            Shop
                                            Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated slider-1-3" src="assets/imgs/slider/slider-3.avif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </section>
            <section class="featured section-padding position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                                <h4 class="bg-1">Free Shipping</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                                <h4 class="bg-3">Online Order</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                                <h4 class="bg-2">Save Money</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                                <h4 class="bg-4">Promotions</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                                <h4 class="bg-5">Happy Sell</h4>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                            <div class="banner-features wow fadeIn animated hover-up">
                                <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                                <h4 class="bg-6">24/7 Support</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-tabs section-padding position-relative wow fadeIn animated">
                <div class="bg-square"></div>
                <div class="container">
                    <div class="tab-header">

                        <a href="#" class="view-more d-none d-md-flex">View More<i
                                class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                <% if (!product) { %>
                                    <div>
                                        <p>product Not Found</p>
                                    </div>
                                    <% } else { %>
                                        <% for( let i=0; i < product.length; i++ ) { %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap mb-30">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="/productShop?id=<%= product[i]._id %>">
                                                                <img class="default-img"
                                                                    src="/productImages/<%= product[i].image[0].filename %>"
                                                                    alt="" style="height: 200px;">
                                                                <img class="hover-img"
                                                                    src="/productImages/<%= product[i].image[0].filename %>"
                                                                    alt="" style="height: 200px;">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn hover-up"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#quickViewModal"><i
                                                                    class="fi-rs-eye"></i></a>
                                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                                href="shop-wishlist.html"><i
                                                                    class="fi-rs-heart"></i></a>
                                                            <a aria-label="Compare" class="action-btn hover-up"
                                                                href="shop-compare.html"><i
                                                                    class="fi-rs-shuffle"></i></a>
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Hot</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <div class="product-name">
                                                            <a href="shop-grid-right.html">
                                                                <%= product[i].productName %>
                                                            </a>
                                                        </div>
                                                        <h2><a href="/productShop"></a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span>
                                                                <span>90%</span>
                                                            </span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>&#8377;<%= product[i].salePrice %></span>
                                                            <span class="old-price">&#8377;<%= product[i].orginalPrice %>
                                                            </span>
                                                        </div>
                                                        <div class="product-action-1 show">
                                                            <button aria-label="Add To Cart" class="action-btn hover-up"
                                                                onclick="addToCart('<%= product[i]._id %>')"><i
                                                                    class="fi-rs-shopping-bag-add"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <% } %>
                            </div>
                            <!--End product-grid-4-->
                        </div>
                        <!--En tab one (Featured)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </section>
            <section class="banner-2 section-padding pb-0">
                <div class="container">
                    <div class="banner-img banner-big wow fadeIn animated f-none">
                        <img src="assets/imgs/banner/banner-4.png" alt="">
                        <div class="banner-text d-md-block d-none">
                            <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
                            <h1 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h1>
                            <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="popular-categories section-padding mt-15 mb-25">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                    <div class="carausel-6-columns-cover position-relative">
                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                            id="carausel-6-columns-arrows">
                        </div>
                        <div class="carausel-6-columns" id="carausel-6-columns">
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-1.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"> <img src="assets/imgs/shop/category-thumb-2.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Bags</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-3.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Sandan</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-4.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-5.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Shoes</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-6.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-7.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
                            </div>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-8.jpg"
                                            alt=""></a>
                                </figure>
                                <h5><a href="shop-grid-right.html">Hats</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="banners mb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img wow fadeIn animated">
                                <img src="assets/imgs/banner/banner-1.png" alt="">
                                <div class="banner-text">
                                    <span>Smart Offer</span>
                                    <h4>Save 20% on <br>Woman Bag</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="banner-img wow fadeIn animated">
                                <img src="assets/imgs/banner/banner-2.png" alt="">
                                <div class="banner-text">
                                    <span>Sale off</span>
                                    <h4>Great Summer <br>Collection</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-md-none d-lg-flex">
                            <div class="banner-img wow fadeIn animated  mb-sm-0">
                                <img src="assets/imgs/banner/banner-3.png" alt="">
                                <div class="banner-text">
                                    <span>New Arrivals</span>
                                    <h4>Shop Today’s <br>Deals & Offers</h4>
                                    <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="container">
                    <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                    <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                        <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                            id="carausel-6-columns-3-arrows">
                        </div>
                        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-1.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-2.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-4.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-5.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-6.png" alt="">
                            </div>
                            <div class="brand-logo">
                                <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding">
                <div class="container pt-25 pb-20">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="section-title mb-20"><span>From</span> blog</h3>
                            <div class="post-list mb-4 mb-lg-0">
                                <article class="wow fadeIn animated">
                                    <div class="d-md-flex d-block">
                                        <div class="post-thumb d-flex mr-15">
                                            <a class="color-white" href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="entry-meta mb-10 mt-10">
                                                <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span
                                                        class="post-in font-x-small">Fashion</span></a>
                                            </div>
                                            <h4 class="post-title mb-25 text-limit-2-row">
                                                <a href="blog-post-fullwidth.html">Qualcomm is developing a Nintendo
                                                    Switch-like console, report says</a>
                                            </h4>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on">14 April 2022</span>
                                                    <span class="hit-count has-dot">12M Views</span>
                                                </div>
                                                <a href="blog-post-right.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="wow fadeIn animated">
                                    <div class="d-md-flex d-block">
                                        <div class="post-thumb d-flex mr-15">
                                            <a class="color-white" href="blog-post-fullwidth.html">
                                                <img src="assets/imgs/blog/blog-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="entry-meta mb-10 mt-10">
                                                <a class="entry-meta meta-2" href="blog-category-fullwidth.html"><span
                                                        class="post-in font-x-small">Healthy</span></a>
                                            </div>
                                            <h4 class="post-title mb-25 text-limit-2-row">
                                                <a href="blog-post-fullwidth.html">Not even the coronavirus can derail
                                                    5G's
                                                    global momentum</a>
                                            </h4>
                                            <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on">14 April 2022</span>
                                                    <span class="hit-count has-dot">12M Views</span>
                                                </div>
                                                <a href="blog-post-right.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner-img banner-1 wow fadeIn animated">
                                        <img src="assets/imgs/banner/banner-5.jpg" alt="">
                                        <div class="banner-text">
                                            <span>Accessories</span>
                                            <h4>Save 17% on <br>Autumn Hat</h4>
                                            <a href="shop-grid-right.html">Shop Now <i
                                                    class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner-img mb-15 wow fadeIn animated">
                                        <img src="assets/imgs/banner/banner-6.jpg" alt="">
                                        <div class="banner-text">
                                            <span>Big Offer</span>
                                            <h4>Save 20% on <br>Women's socks</h4>
                                            <a href="shop-grid-right.html">Shop Now <i
                                                    class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="banner-img banner-2 wow fadeIn animated">
                                        <img src="assets/imgs/banner/banner-7.jpg" alt="">
                                        <div class="banner-text">
                                            <span>Smart Offer</span>
                                            <h4>Save 20% on <br>Eardrop</h4>
                                            <a href="shop-grid-right.html">Shop Now <i
                                                    class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-bg wow fadeIn animated"
                                style="background-image: url('assets/imgs/banner/banner-8.jpg')">
                                <div class="banner-content">
                                    <h5 class="text-grey-4 mb-15">Shop Today’s Deals</h5>
                                    <h2 class="fw-600">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up
                                        to
                                        40%</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function addToCart(productId) {
                $.ajax({
                    url: `/addToCart?id=${productId}`,
                    method: "GET",
                    success: function (data) {
                        console.log(data,"data");
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Added To The Cart",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error("Error adding item to cart:", error);
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: `Error adding item to cart: ${error}`,
                        });
                    }
                });
            }

        </script>
 <%- include('../layout/footer') %>