<%- include('../layout/header',{currentPage:'orderDetials'}) %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: <%= order.id %>
                </p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= order.createdOn.toLocaleDateString() %>
                            </b>
                        </span> <br>
                        <small class="text-muted">Order ID: <span id="orderId">
                                <%= order.orderId %>
                        </span></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <% if (order.paymentStatus=="paid") { %>
                         <% } else { %>
                            <a class="btn btn-primary text-primary" href="/Orderpayment?id=<%= order._id %>">pay</a>
                        <% } %>
                        
                        <a class="btn btn-primary" href="/Invoice?id=<%= order._id%>">Download Invoice</a>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= user.name %><br> <template class="__cf_email__"
                                            data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                        <%= user.email %> <br> +91 <%= user.phone %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%= order.paymentMethod %><br> Status: new
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    House:<%=address.houseName %> <br>
                                        landMark:<%= address.landMark %> <br>
                                            City: <%= address.townCity %>, <%= address.state %> <br>
                                                    Pincode: <%= address.pincode %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <% if (typeof product !==undefined) { %>
                                <table class="table text-center">
                                    <% var subTotal=[] %>
                                        <thead>
                                            <tr>
                                                <th width="30%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%">Total</th>
                                                <th width="20%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for( let i=0; i < product.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/productImages/<%= product[i].product.image[0].filename %>"
                                                                    class="img-xs" alt="Item"
                                                                     style="width:100px; height: 100px;">
                                                            </div>
                                                            <div class="info pt-20">
                                                                <%= product[i].product.productName %>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= product[i].price %>
                                                    </td>
                                                    <td id="quantity">
                                                        <%= product[i].quantity %>
                                                    </td>
                                                    <% if (product[i].status !="canceled") { %>
                                                        <% subTotal.push(product[i].price*product[i].quantity) %>
                                                    <% } %>
                                                        <td>

                                                            <%= product[i].price*product[i].quantity %>
                                                        </td>
                                                        <td id="changeCancel<%= i %>">
                                                            <% if (product[i].status=="Returned" ) { %>
                                                                <span class="text-hover-grey-5">product returned</span>
                                                                <% } else if (order.status=="Delivered") { %>
                                                                    <button class="btn btn-primary btn-xs"
                                                                    onclick="returnSingleProduct( '<%= order.orderId %>','<%= product[i].product._id %>')">Return</button>
                                                                    <% } else if (product[i].status=="canceled") { %>
                                                                    <span class="text-hover-grey-5">product canceled</span>
                                                                    <% } else { %>
                                                                    <button class="btn btn-danger"
                                                                onclick="cancelSingleProduct( '<%= order._id %>','<%= product[i].product._id %>','<%=i%>')">cancel</button>
                                                            <% } %>
                                                        </td>
                                                </tr>
                                                <% } %>
                                                    <tr>
                                                        <td colspan="4">
                                                            <article class="float-end m-5">
                                                                <dl class="dlist m-2">
                                                                    <dt>Subtotal:</dt>
                                                                    <dd>
                                                                        <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                                    </dd>
                                                                </dl>
                                                                <dl class="dlist m-2">
                                                                    <dt>Grand total:</dt>
                                                                    <dd> <b class="h5">
                                                                            <%= subTotal.reduce((sum,i)=>sum+=i,0) %>
                                                                        </b> </dd>
                                                                </dl>
                                                                <dl class="dlist m-2">
                                                                    <dt class="text-muted">Status:</dt>
                                                                    <dd>
                                                                        <span
                                                                            class="badge rounded-pill alert-success text-success">
                                                                            <%= order.status %>
                                                                        </span>
                                                                    </dd>
                                                                </dl>
                                                            </article>
                                                        </td>
                                                    </tr>
                                        </tbody>
                                </table>
                                <% } else { %>
                                    <p>No Order Were found</p>
                                    <% } %>

                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                      
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function cancelSingleProduct(orderId, productId,index) {
            const quantityData = document.getElementById('quantity').textContent;
           const quantity=parseInt(quantityData);
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, cancel it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/cancelSingleProduct', {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            orderId: orderId,
                            productId: productId,
                            quantity: quantity
                        })
                    }).then(res=>{return res.json()})
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    title: "cancelled!",
                                    text:data.message,
                                    icon: "success"
                                });
                                const changeCancel=document.getElementById(`changeCancel${index}`)
                                changeCancel.textContent="product canceled"
                            } else {
                                Swal.fire({
                                    title: "cannot cancel!",
                                    text: "Somthing went Wroung.",
                                    icon: "error"
                                });
                            }

                        })
                } else {
                    Swal.fire({
                        title: "canceled Action!",
                        text: "cancel your Operation.",
                        icon: "error"
                    });
                }
            });
        }

        function returnSingleProduct(orderId, productId) {
            const newQuantity = document.getElementById('quantity').textContent;
            const quantity = parseInt(newQuantity);
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, cancel it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/returnSingleProduct', {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            orderId: orderId,
                            productId: productId,
                            quantity: quantity
                        })
                    }).then(res =>{return res.json()})
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    title: "Returned!",
                                    text: data.message,
                                    icon: "success"
                                });
                                setTimeout(() => {
                                    location.reload()
                                }, 1000);
                            } else {
                                Swal.fire({
                                    title: "cannot Return!",
                                    text: data.message,
                                    icon: "error"
                                });
                            }

                        })
                } else {
                    Swal.fire({
                        title: "canceled Action!",
                        text: "cancel your Operation.",
                        icon: "error"
                    });
                }
            });
        }
    </script>
    <%- include('../layout/footer') %>