<%- include('../layout/header') %>
    <section class="content-main">
        <div class="content-header mt-20">
            <div>
                <h2 class="content-title card-title text-center">Wallet </h2transaction>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <% if (wallet) { %>
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% wallet.transaction.forEach((item,index)=> { %>
                                            <tr>
                                                <td>
                                                    <%=index+1 %>
                                                </td>
                                                <td><b>
                                                        <%=item.amount %>
                                                    </b></td>
                                                <td>
                                                    <%= item.transactionType%>
                                                </td>
                                            </tr>
                                            <% }) %>

                                    </tbody>
                                    <% } else { %>
                                        <h3 class="text-dark">No transaction by wallet</h3>
                                        <% } %>

                            </table>
                        </div> <!-- table-responsive //end -->
                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->
            </div>
        </div>
    </section>

    <%- include('../layout/footer') %>